.headerrow{
    background-color: darkseagreen;
  }

  #messagePane{
    background-color: rgb(224, 243, 224);
  }

  .join_room_response,.left_room_response{
    background-color: rgb(247, 247, 247);
  }
  
  .chat_message{
    font-size: 125%;
    color: rgb(0,0,0);
    margin: 1px 1px 1px 1px;
  }